<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
</head>

<body>

    {{ content | safe }}

    <p>https://textpattern.com/weblog/404/memories-of-dean-allen</p>

        <ul>
            <li>Hope for the Future</li>
            <li>Meaningful Labor</li>
            <li>Reciprical Affection</li>
        </ul>

        <div class="pa4">
            <blockquote class="athelas ml0 mt0 pl4 black-90 bl bw2 b--orange">
                <p class="f5 f4-m f3-l lh-copy measure mt0">
                    Without Dean I wouldn’t have learned PHP when I did. Without Dean, I wouldn’t have been part of this community and had the opportunity to meet and learn from many people of varying disciplines, all brought together by the software he created at the turn
                    of the millennium. Without Dean, the world wouldn’t have Textile; probably wouldn’t have Markdown or WordPress in their current forms either. That they exist has enabled millions, including me, to express their thoughts and ideas on
                    the Internet, and we’re all better off for it.
                </p>
                <cite class="f6 ttu tracked fs-normal">Stef Dawson</cite>
            </blockquote>
        </div>



        <hr class="orange" />

        <pre class="orange">
            ████████╗██╗  ██╗██████╗          ██╗███████╗
            ╚══██╔══╝╚██╗██╔╝██╔══██╗         ██║██╔════╝
               ██║    ╚███╔╝ ██████╔╝         ██║███████╗
               ██║    ██╔██╗ ██╔═══╝     ██   ██║╚════██║
               ██║   ██╔╝ ██╗██║         ╚█████╔╝███████║
               ╚═╝   ╚═╝  ╚═╝╚═╝          ╚════╝ ╚══════╝
        </pre>


        <h2></h2>

        <div class="pa4">
            <blockquote class="athelas ml0 mt0 pl4 black-90 bl bw2 b--orange">
                <p class="f5 f4-m f3-l lh-copy measure mt0">
                    If it can be built in javascript, it probably will.
                </p>
                <cite class="f6 ttu tracked fs-normal">Donald Rumsfield</cite>
            </blockquote>
        </div>


        <!-- SVG Icons are from https://simpleicons.org -->
        <footer class="pv4 ph2 tc-l">
            <a class="no-underline white bg-animate bg-orange hover-bg-red inline-flex items-center ma2 tc br2 pa2" href="https://github.com/whaleen/txp-js" title="GitHub">
                <svg class="dib h2 w2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M8 0C3.58 0 0 3.582 0 8c0 3.535 2.292 6.533 5.47 7.59.4.075.547-.172.547-.385 0-.19-.007-.693-.01-1.36-2.226.483-2.695-1.073-2.695-1.073-.364-.924-.89-1.17-.89-1.17-.725-.496.056-.486.056-.486.803.056 1.225.824 1.225.824.714 1.223 1.873.87 2.33.665.072-.517.278-.87.507-1.07-1.777-.2-3.644-.888-3.644-3.953 0-.873.31-1.587.823-2.147-.083-.202-.358-1.015.077-2.117 0 0 .672-.215 2.2.82.638-.178 1.323-.266 2.003-.27.68.004 1.364.092 2.003.27 1.527-1.035 2.198-.82 2.198-.82.437 1.102.163 1.915.08 2.117.513.56.823 1.274.823 2.147 0 3.073-1.87 3.75-3.653 3.947.287.246.543.735.543 1.48 0 1.07-.01 1.933-.01 2.195 0 .215.144.463.55.385C13.71 14.53 16 11.534 16 8c0-4.418-3.582-8-8-8"/></svg>
                <span class="f6 ml3 pr2">GitHub</span>
            </a>
        </footer>

</body>

</html>
